@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Syne';
  src: local('Syne'), url('./assets/fonts/Syne.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Syne';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
